*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Space Mono', monospace;
    height: 100vh;
    width: 100vw;
    background-color: hsl(184, 14%, 56%);
}

.logo{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2.3rem;
}

.calc-main{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1.2rem 1.2rem 0 0;
}
label{
    color: hsl(184, 14%, 56%);
    font-weight: 400;
    margin-bottom: 0.7rem;
}

.input{
    border: none;
    outline: none;
    display: block;
    padding: 0.3rem;
    padding-right: 1rem;
    width: 85vw;
    text-align: right;
    background-position: 1rem 1rem;
    background-repeat: no-repeat;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Space Mono', monospace;
}

input:focus-within{
    border: 4px solid hsl(172, 67%, 45%);
    border-radius: 8px;
}

/* Remove arrow buttons on number input on Chrome and Safari */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /*Removes it on Firefox */
}

.bill-input{
    background-image: url(/images/icon-dollar.svg);
    margin-bottom: 2rem;
}

.tip{
    margin-top: 0.7rem;
    display: grid;
    grid-template-columns: 144px 144px;
    column-gap: 1rem;
    row-gap: 0.8em;
    margin-bottom: 3rem;
}

.tips{
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.active-tip{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-weight: bolder;
}

.custom-tip{
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    text-align: right;
    outline: none;
}

.people-input{
    background-image: url(/images/icon-person.svg);
}

.error{
    color: red;
    font-weight: bolder;
    text-align: right;
    display: none;
}

.result{
    background-color: hsl(183, 100%, 15%);
    border-radius: 0.8rem;
    padding: 2rem;
    margin-top: 3rem;
}

.tip-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

.text{
    color: hsl(0, 0%, 100%);
}

.person{
    color: hsl(184, 14%, 56%);
    font-size: 0.7rem;
}

.amount{
    color: hsl(172, 67%, 45%);
    font-size: 1.7rem;
    font-weight: 700;
}

.reset{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border-radius: 7px;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 2rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

